<a class="dropdown-toggle" data-toggle="dropdown" href="#">
  {{currency.symbol}} <span class="caret"></span>
</a>
<ul class="dropdown-menu">
  <li>
  <a href="#" data-ng-click="setCurrency('USD')" data-ng-class="{active: currency.symbol == 'USD'}">USD</a>
  </li>
  <li>
  <a href="#" data-ng-click="setCurrency('ZET')" data-ng-class="{active: currency.symbol == 'ZET'}">ZET</a>
  </li>
  <li>
  <a href="#" data-ng-click="setCurrency('mZET')" data-ng-class="{active: currency.symbol == 'mZET'}">mZET</a>
  </li> 
</ul>

